<%- include('./partials/topo', {titulo:"Página Principal"}) %>
          
          <div class="jumbotron">
            <h2>Bem Vindo</h2>
          </div>
          <div class="row">
            <div class="card p-5 text-center mr-4 ml-3">
              <img src="/img/carrinho.png" class="rounded mx-auto">
              <a href="http://localhost:3000/produtos">Produtos Cadastrados</a>
            </div>
            <div class="card p-5 text-center">
              <img src="/img/user.png" class="rounded mx-auto">
              <a href="http://localhost:3000/usuarios">Usuários Cadastrados</a>
            </div>
          </div>

<%- include('./partials/rodape') %>
